<section class="text-center" id="searchSection">

  <form  (ngSubmit)="search()">
    <div>
      
      <div class="form-group">
        <input type="text" [(ngModel)]="searchText" name="recherche" id="searchbar" placeholder="Rechercher...">
      </div>
    </div>
 
  </form>

  <!-- <i class="fa-solid fa-arrow-up-right-from-square"></i> -->
  <!-- <fa-icon icon="faArrowUpRightFromSquare" ></fa-icon> -->
  
  <div class="container">

  <div class="row">
    <div class="col-lg-4 col-sm-6" *ngFor="let data of httpData.hits">
      <div class="thumbnail img-responsive">
        
        <img src="{{data.webformatURL}}" alt="picture" class="img-fluid card-img-top" style="border-top-left-radius: 20px; border-top-right-radius: 20px;">

        <div class="p-4" style="background-color:#BAFBA1; margin-bottom: 3%; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
          <h5> <a href="{{data.pageURL}}" class="text-dark" target="_blank" style="text-decoration: none;">Voir plus</a>
          
          </h5>
          <p class="small text-muted mb-0">{{data.tags}}</p>
        </div>
      </div>
    </div>
  </div>


</div>

</section>